* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Source Sans Pro',sans-serif}
a,h1,h2,h3,h4,h5,h6,i,p {
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0}
div,section,span {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box}
.col-12 {
    width: 100%}
.col-11 {
    width: 91.66666667%}
.col-10 {
    width: 83.33333333%}
.col-9 {
    width: 75%}
.col-8 {
    width: 66.66666667%}
.col-7 {
    width: 58.33333333%}
.col-6 {
    width: 50%}
.col-5 {
    width: 41.66666667%}
.col-4 {
    width: 33.33333333%}
.col-3 {
    width: 25%}
.col-2 {
    width: 16.66666667%}
.col-1 {
    width: 8.33333333%}
[class*=col-] {
    float: left}
.row::before,row::after {
    clear: both;
    width: 100%}
.pull-right {
    float: right}
.pull-left,[class*=mb-] {
    float: left}
.center {
    text-align: center}
.left {
    text-align: left}
.right {
    text-align: right}
.padding-tblr {
    padding: 15px}
.padding-tb {
    padding: 15px 0}
.padding-lr {
    padding: 30px 50px}
.container::after,.container::before {
    clear: both;
    content: "";
    display: table}
.section-padding {
    padding: 50px 0}
.margin-bottom-30 {
    margin-bottom: 15px}
.products-mobile,.service-mobile {
    display: none;
}
@media only screen and (min-width: 1024px) {
    .container {
        width: 1024px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box}
    .container2 {
        width: 1024px;
        margin: 50px 100px;
        padding: 0 15px;
        box-sizing: border-box}
    .icon-box{
        height: 165px;
        max-width: 165px;
        cursor: pointer;
        border: 2px solid #FFF;
        transition: 1s 0s linear;
        border-radius: 50%;
        text-align: center;
        vertical-align: top;
        padding: 30px; 
        margin: 15px 40px;
        display: inline-block;
        }
    .icon-box:hover {
        background-color: #64a548;
    }
    .service-name {
        color: #ffffff;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.5px;
        display: block;
    }
    .container1 ul{
        padding: 0 150px 20px 270px;
    }
    
    /* .container1 ul li a{
        position: relative;
        text-decoration: none;
        font-size: 4em;
        color: #000;
        font-weight: 700;
        transition: 0.5s;
    } */
    
    /* .service {
        display: grid;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: #ff0;
    } */
    
    #serviceFields {
        position: relative;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: 2s;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../image/asf1.jpg);
        background-size: cover;
    }
}
@media only screen and (min-width: 990px) and (max-width: 1023px) {
    .container {
    width: 990px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box}
    .container2 {
    width: 990px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box}
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
    .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box}
}
@media only screen and (max-width: 320px) {
    .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box}
}
.icon-bar {
    width: 28px;
    height: 2px;
    background-color: #333;
    display: block;
    margin-top: 7px;
    border-radius: 1px;
    -webkit-transform: rotate(0);
    cursor: pointer;
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out}
.icon-bar.open:nth-child(1) {
    margin-top: 8px;
    transform: rotate(135deg);
    height: 1px;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg)}
.icon-bar.open:nth-child(2) {
    display: none}
.icon-bar.open:nth-child(3) {
    margin-top: -1px;
    transform: rotate(-135deg);
    height: 1px;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg)}
.mob-menu-icon {
    display: none;
    cursor: pointer;
    padding: 19px 0;
    box-sizing: border-box}
.color-blue {
    background-color: #79c8e9}
.color-green {
    background-color: #b1d15d}
.color-yellow {
    background-color: #FBC14A}
.color-black-s-light {
    background-color: #484848}
.color-black-m-light {
    background-color: #545454}
.color-light-grey {
    background-color: #e5e5e5}
.color-light-white {
    background-color: #f8f8f8}
.color-white {
    background-color: #fff}
.color-black {
    background-color: rgb(0, 0, 0)}
.color-orange {
    background-color: #E1571A}
.font-color-s-dark {
    color: #000000}
.font-color-s-light {
    color: #484848}
.font-color-m-light {
    color: #545454}
.font-color-l-light {
    color: grey}
.font-color-white { 
    color: rgb(255, 255, 255)}
@media only screen and (max-width: 319px) {
    .banner_brief_text {
    display: none}
}
@media only screen and (max-width: 767px) {
    .container,.mb-12 {
    width: 100%}
.section-padding {
    padding: 20px 0}
[class*=col-] {
    content: "";
    width: 100%}
.mob-menu-icon {
    display: block!important}
.mb-11 {
    width: 91.66666667%}
.mb-10 {
    width: 83.33333333%}
.mb-9 {
    width: 75%}
.mb-8 {
    width: 66.66666667%}
.mb-7 {
    width: 58.33333333%}
.mb-6 {
    width: 50%}
.mb-5 {
    width: 41.66666667%}
.mb-4 {
    width: 33.33333333%}
.mb-3 {
    width: 25%}
.mb-2 {
    width: 16.66666667%}
.mb-1 {
    width: 8.33333333%}
.mb-center {
    text-align: center}
.mb-left {
    text-align: left}
.mb-right {
    text-align: right}
}
.slide-icon-menu-color {
    background-color: #64B5F6}
          
.service {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    transition: 2s;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf1.jpg);
    background-size: cover;
}

#serviceFields.one{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf1.jpg);
    background-size: cover;
}
#serviceFields.two{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf2.jpg);
    background-size: cover;
}
#serviceFields.three{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf3.jpg);
    background-size: cover;
}
#serviceFields.four{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf4.jpg);
    background-size: cover;
}
#serviceFields.five{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf5.jpg);
    background-size: cover;
}
#serviceFields.six{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf6.jpg);
    background-size: cover;
}
#serviceFields.seven{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf7.jpg);
    background-size: cover;
}
#serviceFields.eight{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf8.jpg);
    background-size: cover;
}
#serviceFields.nine{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf9.jpg);
    background-size: cover;
}
#serviceFields.ten{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf10.jpg);
    background-size: cover;
}
#serviceFields.eleven{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf11.jpg);
    background-size: cover;
}
#serviceFields.twelve{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../image/asf12.jpg);
    background-size: cover;
}

.category-name {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: block;
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
}



body{
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style-type: none;
}
.main-menu .navbar-brand{
    padding-top: 0rem;
    padding-bottom: 0px;
}
.main-menu .navbar{
    padding: 0px;
}
.main-menu .main-menu-item ul li .nav-link{
    color: #000;
    font-size: 15px;
    padding: 35px 25px;
    text-transform: capitalize;
    line-height: 12px;
    font-weight: 400;

}
.main-menu .main-menu-item ul li .nav-link:hover{
    color: #000;
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .main-menu .main-menu-item ul li .nav-link{
        padding: 35px 20px;
    }
}
.main-menu .cart i{
    color: #000;
    position: relative;
    z-index: 1;
    font-size: 15px;
}
.main-menu .cart i:after{
    position: absolute;
    border-radius: 50%;
    background: #7e7a7a;
    width: 14px;
    height: 14px;
    right: -8px;
    top: -8px;
    content: "5";
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    color: #fff;
}
.dropdown .dropdown-menu{
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    border: 0px solid transparent;
    background: #000;
}
.dropdown .dropdown-menu .dropdown-item{
    font-size: 14px;
    padding:8px 20px !important;
    color: #fff;
    background: #000;
    text-transform: capitalize;
}
.dropdown:hover .dropdown-menu{
    transform: scale(1);
}
@media (max-width: 991px){
    .main-menu{
        padding: 26px 0px;
    }
    .menu .main-menu-item{
        padding-left: 0px;
    }
    .main-menu .main-menu-item .nav-item{
        padding: 5px 15px im !important;
    }
    .main-menu .main-menu-item .nav-item .nav-link{
        padding: 5px 15px!important;
        color: #000;
    }
    .navbar-collapse{
        z-index: 999!important;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        background: #fff;
        text-align: center!important;
    }
    .dropdown .dropdown-menu{
        transform: scale(1,0);
        display: none;
        margin-top: 10px;
    }
    .navbar-brand img{
        max-width: 100px;
        margin: 0 auto;
        position: absolute;
        left:0;
        right: 0;
        display: inline-block;
        top: 0;
    }
    .navbar-light .navbar-toggler{
        border-color: transparent;
        position: absolute;
        left:0;
    }
    .nav-icon i{
        color: #000;
    }
    .main-menu a i{
        margin-left:13px;
    }
}
@media (max-width: 576px){
    .main-menu{
        padding: 20px 0px;
    }
}
@media only screen and(min-width: 576px) and (max-width: 767px){
    .main-menu{
        padding: 20px 0px
    }
}
.main-menu-item{
    justify-content: center!important;
}
/*====Bread Crumbs Section===*/
.breadcrumb{
    position: relative;
    z-index:1;
    background: #383a3a;
    margin-bottom: 0px!important;
}
.breadcrumb .crumb-inner p{
    font-size: 15px;
   
    color: #fff;
}
/*==========Sidebar Section===*/
.side-area{
    margin-bottom: 30px;
}
.side-area:last-child{
    margin-bottom: 0px;
}
.product-side .side-content{
    border-bottom: 1px solid #eee;
}
.product-side .side-content:last-child{
    border-bottom: 0px;
}
/* .product-side .list{
    border-top: 1px solid #ddd;
    padding-top: 25px;
    margin-top: 25px;
}
.product-side .list:first-child{
    padding-top: 0;
    margin-top: 0;
    border-top: 0px solid transparent;
}
.product-side .list li{
    margin-bottom: 18px;
    transition: 0.5s;
}
.product-side .list li a{
    font-size: 14px;
    font-weight: normal;
    color: #606060;
    position: relative;

} */
.product-side ul li.active{
    background: #e0e0a2;
    color: #fff;
}
.product-side .list li a{
    font-size: 14px;
    font-weight: normal;
    color: #606060;
    position: relative;
    padding: 0 20px;
}
.product-side .list li{
    line-height: 60px;
    border-bottom: 1px solid #ddd;
}
.product-side .list li a:hover{
    color: #1e1e1e;
}
.side-shadow{
    box-shadow: 0px 10px 10px 0px rgba(153,153,153,0.2);
}
@media (max-width: 991px){
    .side-title{
        padding-left: 0;
        padding-right: 0;
    }
}
.side-title h3{
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    background: #444546;
    padding: 10px 15px 10px 30px;
    text-transform: uppercase;
}
/*======Product Items===*/
@media (max-width: 991px){
    .product-item{
        width: 100% !important
    }
    
}
.product-top .product-sec h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;

}
.product-cate img{
    width: 100%;
}
.product-cate .product-icon{
   
    right: -30px;
    bottom: 100px;
    
    transition: 0.5s;
}
.product-cate .product-icon a{
    width: 50px;
    height: 50px;
    display: inherit;
    background: #000;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    margin-top: 5px;
}
.product-cate:hover .product-icon{
  
    right: 11px;
    bottom: 100px;
   
}
.product-cate .product-des{
    text-align: center;
}
.product-cate .product-des h5{
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
}
.product-cate .product-des p{
    font-size: 18px;
    font-weight: 600;
    color: #606060;
}
.product-btn{
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    color: #1e1e1e;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
}
.product-btn:hover{
    color: #fff!important;
    background: rgb(68, 68, 68);
    text-decoration: none;
}
@media(max-width: 991px){
    .product-btn{
        height: 50px;
        width: 140px;
        line-height:50px;
    }
}

.product_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
}

.header_container {
    padding: 0 30px;
}


/* .side-content ul li{
    list-style: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.side-content ul li.active{
    background: #444546;
    color: #fff;
} */

