* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #FAFAFA;
  margin-bottom: 40px;
}

.carousel-cell {
  width: 100%;
  height: 550px;
  margin-right: 10px;
  border-radius: 5px;
}

.carousel2 {
  margin-bottom: 40px;
}

.carousel-cell2 {
  width: 20%;
  height: 300px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Mobile View */
@media (max-width: 479px) {
  .carousel-cell { height: 200px; }
  .carousel-cell2 { width: 80%; height: 260px; margin-top: 20px;}
  .service, .products-sec{
    display: none;
  }
  .mob-menu {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #31323d;
    z-index: 9999;
    width: 200px;
    height: 100%;
    -webkit-transform: translateX(200px);
    -o-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -moz-transform: translateX(200px);
    transition: .25s linear all;
    -moz-transition: .25s linear all;
    -o-transition: .25s linear all;
    -webkit-transition: .25s linear all;
    -ms-transition: .25s linear all;
  }
  .menu-link {
    padding: 17px 30px;
    display: block;
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    text-align: left
  }
  .menu-link:hover {
      background-color: #3b3c49;
  }
  .animation-off {
    transform: translateX(200px)!important;
    transition: all .25s linear;
    -ms-transform: translateX(200px)!important;
    -ms-transition: all .25s linear;
    -o-transform: translateX(200px)!important;
    -o-transition: all .25s linear;
    -moz-transform: translateX(200px)!important;
    -moz-transition: all .25s linear;
    -webkit-transform: translateX(200px)!important;
    -webkit-transition: all .25s linear;
  }
  .service-mobile, .products-mobile{
    display: block;
  }
  .sub-title {
    text-align: center;
  }
  .view-template {
    padding: 11px 24px;
    background-color: #78c557;
    color: #fff;
    border-bottom: 2px solid #64a548;
    max-width: 160px;
    margin: 20px auto
  }
  .main-title {
    font-size: 25px;
    padding: 11px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }
  .about-image {
    padding: 20px;
  }
  .banner,.banner2 {
    height: 200px; 
    object-fit: contain;
    overflow:hidden;
    background-size:cover;
  }
  .allProductsBanner {
    padding: 50px 0;
    position: relative;
  }
  .banner_line1 {
    font-size: 18px;
    color: #f5f5f5;
    letter-spacing: .4px;
    text-shadow: 3px 3px 0 rgba(0,0,0,.25);
    text-transform: uppercase;
    font-weight: 100}
  .banner_line1_allProducts {
    font-size: 22px;
    color: #f5f5f5;
    letter-spacing: .4px;
    text-shadow: 3px 3px 0 rgba(0,0,0,.25);
    font-weight: 100}
  .banner_brief_text {
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    letter-spacing: .2px;
    padding: 30px 0;
    text-shadow: 1px 1px 1px #333}
  .banner-box {
    padding: 50px 0;
    }
  .service-name1 {
    color: #233141;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .5px;
    text-align: center;
    padding-bottom: 2px;
  }
  .service-content {
    font-size: 15px;
    color: #606873;
    line-height: 23px;
    font-weight: 300;
    text-align: justify;
    letter-spacing: .4px;
  }
  .service-icon {
    padding :20px;
  }
  .content-box {
    padding: 15px 0;
    font-weight: 300;
    line-height: 24px;
    font-size: 15px;
    letter-spacing: .1px;
    text-align: justify;
    word-spacing: .5px}
  .footer {
      background-color: #141B22}
  .footer-logo img {
      padding-left: 6px;
      margin-top: 20px}
  .footer .bottom-footer {
      background-color: #161B1F;
      padding: 25px 0;
      box-sizing: border-box}
  .footer-menu-box-link {
      display: table-cell;
      padding: 5px;
      color: #e5e5e5}
  .contact-box {
    padding: 8px;
    text-align: center}
  .textbox-box {
    padding: 10px 5px}
  .textbox {
    width: 100%;
    min-height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 14px;
    letter-spacing: .4px}
  .social {
    color: #606873;
    font-size: 17px;
    font-weight: 600}
  .social i {
    display: block;
    padding: 5px}
  .copyright {
    color: #606873;
    letter-spacing: 0px;
  }
}

@media ( min-width: 480px ) {
  /* tablet size, 3 cells in group */
  .carousel-cell { height: 290px; }
  .carousel-cell2 { width: 40%; }
  .icon-box{
    height: 115px;
    max-width: 115px;
    cursor: pointer;
    border: 2px solid #FFF;
    transition: 1s 0s linear;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .icon-box:hover {
    background-color: #64a548;
  }
  .service-box ul{
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .service-name {
    color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.5px;
    display: block;
  }
  #serviceFields {
    height: 740px;
  }
}

@media ( min-width: 768px ) {
  .carousel-cell { height: 390px; }
  .carousel-cell2 { width: 24%; }
  .icon-box{
    height: 130px;
    max-width: 130px;
    cursor: pointer;
    border: 2px solid #FFF;
    transition: 1s 0s linear;
    border-radius: 50%;
    text-align: center;
    padding: 30px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .icon-box:hover {
    background-color: #64a548;
  }
  .service-name {
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    display: block;
  }
  .service-box ul{
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  #serviceFields {
    height: 730px;
  }
}

@media ( min-width: 990px ) {
  .carousel-cell { height: 410px; }
  .carousel-cell2 { width: 20%; }
  .icon-box{
    height: 140px;
    max-width: 140px;
    cursor: pointer;
    border: 2px solid #FFF;
    transition: 1s 0s linear;
    border-radius: 50%;
    text-align: center;
    padding: 30px;
    margin: 25px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .icon-box:hover {
    background-color: #64a548;
  }
  .service-name {
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    display: block;
  }
  .service-box ul{
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
  }
  #serviceFields {
    height: 810px;
  }
}

@media ( min-width: 1024px ) {
  .carousel-cell { height: 550px; }
  .carousel-cell2 { width: 20%; }
  .icon-box{
    height: 165px;
    max-width: 165px;
    cursor: pointer;
    border: 2px solid #FFF;
    transition: 1s 0s linear;
    border-radius: 50%;
    vertical-align: middle;
    padding: 40px; 
    margin: 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .icon-box:hover {
    background-color: #64a548;
  }
  .service-name {
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: block;
  }
  #serviceFields {
    height: 810px;
  }
}

